<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fffcd7">  <td>20/11/14 00:06:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CriterioAceptacion2.emptyFile()[pri:0, instance:controllerTest.CriterioAceptacion2@32709393]">emptyFile</td> 
  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>20/11/14 00:06:35</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CriterioAceptacion2.incompleteFile()[pri:0, instance:controllerTest.CriterioAceptacion2@32709393]">incompleteFile</td> 
  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/11/14 00:06:35</td>   <td>-151</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:controllerTest.CriterioAceptacion2@32709393]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/11/14 00:06:35</td>   <td>38</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.teadown()[pri:0, instance:controllerTest.CriterioAceptacion2@32709393]">&lt;&lt;teadown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32863545</td>   <td></td> </tr>
</table>
